commands:
  aikido-php-firewall:
    command: "rpm -Uvh --oldpackage https://github.com/AikidoSec/firewall-php/releases/download/v1.5.4/aikido-php-firewall.x86_64.rpm"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/aikido-php-firewall.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/aikido-*/*.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/aikido-php-firewall.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/aikido-*/*.log
